body {
	//padding-top: 20px;
	h1{ font-size: 1.8em; }
	h2{ font-size: 1.2em; }
	header {
		background-color: #fff;
		section {
			border-bottom: 1px solid #000;
			div {
				img {
					width: 60px;
					height: 60px;
				}
			}
			div:last-child, form {
				margin-top: 15px;
			}
		}
		nav{
			background-color: #000;
			font-size: x-small;
			min-height: 5.5em;
			div{
				a.linkPage{
					.constWidthHeight{
						width: 28px;
						height: 28px;
					}

				}
			}
			a.linkPage{
				text-decoration: none;
				color: #000;
			}
			a.linkPage:hover, a.linkPage.active{
				font-weight: bold;
				div:first-child{
					div:first-child{
						background-color: transparent !important;
						color: #fff;
						border: 1px solid #fff;
					}
				}
			}
		}
	}
	main {
		#banner{
			background: url('../img/bg-11.jpg') no-repeat;
			background-size: cover;
			background-position: center;
			min-height: 300px;
			div{
				span{
					vertical-align: middle;
					line-height: 300px;
					font-size: xx-large;
					font-weight: bold;
				}
			}
		}
		aside{
			nav{
				ol.breadcrumb {
					.breadcrumb-item + .breadcrumb-item::before {
						font-family: "Font Awesome 5 Free";
						content: "\f101";
						display: inline-block;
						font-weight: bold;
					}
				}
			}
			button{
			}
		}
		section{
			min-height: 100px;
			border-bottom: 1px solid #000;
			#imageOwner{
				img{
					width: 1800px;
				}
			}
		}
	}
	footer {
		background-color: #000;
		section:first-child{
			div:last-child{
				div{
					div{
						width: 35px;
						height: 35px;
						.fab.fa-facebook-f, .fab.fa-google-plus-g,
						.fab.fa-instagram, .fab.fa-twitter{
							font-size: 1.5em;
						}
					}
				}
			}
		}
		section:last-child{
			aside{
				border-bottom: 1px solid #fff;
				margin-top: -40px;
				div{
					z-index: 99;
					position: relative;
					top: 20px;
				}
			}
		}
	}
	#modalNewsletter{
		.modal-dialog{
			.modal-content{
				border: 2px solid #000;
				border-radius: 10px;
				background-color: gray;
				.modal-header{
					.modal-title{
						text-align: center;
					}
					div{
						position: absolute;
						top: -40px;
						width: 70px;
						height: 70px;
					}
				}
				.modal-body{
					#emailNewsletter{
						width: 320px;
					}
				}
				.modal-footer{
					button{
						border-radius: 10px;
					}
				}
			}
		}
	}
}

/* small */
@media (min-width: 576px) {
	nav{
		font-size: small !important;
	}
}

/* medium */
@media (min-width: 768px) {
	h1{ font-size: 2em !important; }
	h2{ font-size: 1.4em !important; }
	nav{
		font-size: medium !important;
		min-height: 110px !important;
		div{
			a.linkPage{
				.constWidthHeight{
					width: 60px !important;
					height: 60px !important;
				}

			}
		}
	}
	footer {
		background-color: #000;
		section:first-child{
			div:last-child{
				div{
					div{
						width: 45px !important;
						height: 45px !important;
					}
				}
			}
		}
	}
}

/* large */
@media (min-width: 992px) {
	h1{ font-size: 2.2em !important; }
	h2{ font-size: 1.6em !important; }
}

/* extra large */
@media (min-width: 1200px) {
	h1{ font-size: 2.4em !important; }
	h2{ font-size: 1.8em !important; }
}
