.greenColor{
    color: #339966 !important;
}
.normalYellowColor{
    color: #ff9933;
}
.fontSizeMedium{
    font-size: medium;
}
.fontSizeLarge{
    font-size: large;
}
.fontXSmall{
    font-size: x-small;
}
.footerIcon .socialIconDiv:hover span{
    background: transparent;
}
.footerIcon .socialIconDiv:hover span i{
    color: #fff;
}
.hotelSubtitle1Link.active > a{
    background: #339966;
}
@media (min-width: 1200px) {
    /*--------------------------------- General Style ------------------------------*/
    body{
        background-image: url("../img/main/backgroundBodyImage.png");

    }
    #bodyCover{
        margin: 10px auto;
        color: #fff;
        font-size: small;
        font-weight: bold;
        font-family: "Myriad Pro";
    }
    /*--------------------------------- Header Style ------------------------------*/
    .HeaderSectionMenu{
        background-color: #0099cc;
        padding: 0 15px;
    }
    .optionalElement{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .HeaderMenuIcon{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .optionalElementDiv{
        padding: 10px 20px;
    }
    .optionalElementDiv:first-child, .optionalElementDiv:hover, .btn.btnSpot2:hover{
        background: #ff6633;
    }
    .socialIcon{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .socialIconDiv{
        margin-left: 25px;
        padding: 10px 5px;
    }
    .fa.fa-facebook, .fa.fa-twitter, .fa.fa-camera-retro, .fa.fa-youtube-play{
        color: #339966;
    }
    .fafafacebook:hover i, .fafatwitter:hover i, .fafayoutubeplay:hover i, .fafacameraretro:hover i{
        color: #fff;
    }
    .fafafacebook, .fafatwitter, .fafayoutubeplay, .fafacameraretro{
        background-color: #ff9933;
        border-radius: 50%;
    }
    .fafafacebook{
        padding: 7px 10px;
    }
    .fafatwitter{
        padding: 7px 8px;
    }
    .fafacameraretro{
        padding: 7px 8px;
    }
    .fafayoutubeplay{
        padding: 7px 8px;
    }
    .fafafacebook:hover, .fafatwitter:hover, .fafayoutubeplay:hover, .fafacameraretro:hover{
        background-color: transparent;
        border: 1px solid #ff9933;
    }
    .FormAndMenu{
        background-color: #0099cc;
    }

    .Menu1, .Menu2, .Menu3, .Menu4, .Menu5, .Menu6{
        color: #339966;
    }
    .blueColor{
        color: #0099cc;
    }
    .HeaderMenu{
        background-color: #fff;
        padding: 25px 13px;
    }
    .otherInfoItem > p a:hover, .emmail:hover{
        color: #339966;
    }
    .linkMenu1.active, .linkMenu2.active, .linkMenu3.active, .linkMenu4.active, .linkMenu5.active, .linkMenu6.active, .Menu7{
        color: #993300;
    }
    .linkMenu1:hover, .linkMenu2:hover, .linkMenu3:hover, .linkMenu4:hover, .linkMenu5:hover, .linkMenu6:hover{
        color: #993300;
    }
    .optionalElementDivLink1, .optionalElementDivLink2, .optionalElementDivLink3, .optionalElementDiv:hover a{
        color: #fff;
    }
    a, a:hover{
        text-decoration: none;
        color: inherit;
    }
    .Menu7 > div{
        background-color: #339966;
        position: absolute;
        top: -5px;
        padding: 0 7px;
        border-radius: 50%;
        margin-left: 32px;
        font-size: medium;
        color: #fff;
    }
    .Menu7 span{
        font-weight: bold;
        font-size: medium;
    }
    /*--------------------------------- Main Content Style ------------------------------*/
    #mainContent{
        /*background: url('../img/main/HeaderBodyImage.png') no-repeat;*/
        background-size: contain;
    }
    .EllipsisShape > span > i{
        color: #ffffff;
    }
    .EllipsisShape{
        background-color: #993300;
        border: 5px solid #ffffff;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        padding-top: 30px;
        text-align: center;
        margin-left: 60px;
    }
    .EllipsisShape span:last-child{
        color: #fff;
        font-size: small;
        font-weight: bold;
    }
    .belowMenu{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .EllipsisShape.Ellipsis1, .EllipsisShape:hover{
        background-color: #339966;
    }

    .Ellipsis1{
        margin-top: 150px;
    }

    .Ellipsis2{
        margin-top: 140px;
    }
    .Ellipsis3{
        margin-top: 120px;
    }
    .Ellipsis4{
        margin-top: 80px;
    }
    .Ellipsis5{
        margin-top: 30px;
    }
    .Ellipsis6{
        margin-top: -100px;
        margin-left: 780px;
    }
    .iconBody{
        color: #ffffff;
    }
    /*--------------------------------- Search Section Style ------------------------------*/
    #searchSection{
        background: url('../img/main/SearchBackgroungImage2.png') no-repeat;
        position: relative;
        bottom: 123px;
    }

    #secondaryMenu{
        margin-left: 60px;
    }
    #InformationSection{
        margin-top: -65px;
    }
    #inputGroup, .input-group span i{
        color: #fff;
    }
    #inputGroup .form-group{
        margin-left: 50px;
    }
    #rowHotel2{
        margin-top: 20px;
    }
    #containerRowHotel{
        padding-left: 50px;
        padding-right: 40px;
    }
    .detailHotel{
        background-color: #fff;
        padding: 15px;
    }
    .detailHotel .hotelSubtitle1, .detailHotel p, .hotelSubtitle2 span:last-child{
        color: #999999;
    }
    .hotelSubtitle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hotelSubtitleDiscount > div > a, .input-group span, .Ellipsis6{
        background-color: #ff6633;
    }
    .detailHotel h5, .hotelSubtitleDiscount div:last-child span:first-child{
        color: #993300;
    }
    .hotelSubtitle1 span, .numberBed span, .hotelSubtitle2 span:last-child{
        font-size: small;
    }
    .hotelSubtitle1 a{
        background-color: #ff6633;
        color: #fff;
        padding: 5px 15px;
    }
    .hotelSubtitle1 a:hover{
        background-color: #339966;
    }
    .greenBackground{
        background-color: #339966 !important;
    }
    .hotelSubtitle1Link{
        padding-top: 10px;
    }
    .hotelSubtitle2{
    }
    .hotelSubtitle2 span:first-child{
        color: #0099cc;
        font-weight: bold;
    }
    .fa.fa-star{
        color: #ffcc33;
    }
    .flexItem img{
        width: 100%;
    }
    /*--------------------------------- Footer Style ------------------------------*/
    footer{
        background-color: #fff;
    }
    #asideFooter{
        background: url('../img/main/footerBackgroundImage.png') no-repeat;
        margin-top: -53px;
        padding-top: 60px;
    }
    .footerRow2{
        background-color: #339966;
        padding: 0 15px;
    }
    .footerIcon{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        float: right;
    }
    .footerText{
        padding: 10px;
    }
    #asideContainer{
        background: url('../img/main/asideBackgroundImage.png') no-repeat;
        min-height: 900px;
        margin-top: 50px;
    }
    .asideColMd4{
        margin-top: 35px;
        margin-left: 25px;
    }
    .otherInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .otherInfoItem{
        color: #ff6633;
    }
    .otherInfoItem > h3{
        color: #339966;
    }
    /*
    --------------------------------- Aside Style ------------------------------
     */
    .imgSlide2{
        border: 5px solid #fff;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    .imgSlide3{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .imgSlide3:hover{
        background-color: #0099cc;
        opacity: 0.5;
    }
    #slide2{
        margin-top: 80px;
    }
    .linkCarouselNext1 > span i{
        color: #ffcc33;
    }
    .linkCarouselPrevious1 > span i{
        color: #ffcc33;
    }
    .linkCarouselNext2{
        margin-right: 255px;
    }
    .linkCarouselNext2 > span i{
        color: #ff6633;
    }
    .linkCarouselPrevious2 > span i{
        color: #ff6633;
    }
    .slide2Item{
        padding-left: 120px;
    }
    #slide1, #slide2{
        margin-left: -40px;
    }
    .slide2Div{
        margin-left: 50px;
    }
    .spotBanner1 img{
        margin-top: -90px;
        margin-left: 70px;
    }
    #spotBanner2 img{
        margin-top: -70px;
        margin-left: 60px;
    }
    #spotBanner3 img{
        position: absolute;
        margin-top: 5px;
        margin-left: 210px;
        z-index: 1111;
    }
    .priceSpot{
        margin-top: -100px;
        margin-left: 140px;
        font-size: x-large;
    }
    .priceSpot2{
        margin-top: -55px;
        margin-left: 70px;
        font-size: .8rem;
    }
    .priceSpot3{
        position: absolute;
        margin-top: 20px;
        margin-left: 225px;
        z-index: 1111;
    }
    .slider2ButtonDiv{
        margin-top: 30px;
    }
    .slider2ButtonDiv a span i{
        float: left;
    }
    .contentSpot{
        margin-top: 50px;
    }
    .contentSpot h3{
        color: #ffcc33;
    }
    .hoverImage:hover{
        cursor: pointer;
    }
    .titleSlide2{
        color: #ff6633;
        text-align: center;
        margin-right: 250px;
    }
    .whiteColorText{
        color: #fff;
    }
    .btnSpot {
        width: 100%;
        background: url("../img/slider/buttonBackground.png") no-repeat center;
        height: 60px;
        color: #fff;
        font-weight: bold;
        border-radius: 15px;
    }
    .btnSpot2 {
        width: 100%;
        background: url("../img/slider/buttonBackground2.png") no-repeat center;
        height: 35px;
        color: #fff;
        font-weight: bold;
        border-radius: 15px;
    }
    .buttonProductCarList:hover{
        background-color: #ff6633;
        color: #fff;
    }
    .btn.btnSpot:hover{
        background: #993300;
    }
    .fontMedium{
        font-size: medium;
    }
    .blueBack{
        background-color: #0099cc;
    }
    .fontLarge{
        font-size: large;
    }
    .HeaderMenu2{
        display: none;
    }
    .HeaderMenu{
        display: flex;
    }
    .titleSlide1Div{
        display: none;
    }
}
