/* small */
@media (min-width: 576px) {
	.fa-sm-lg {
		font-size: 1.33333em !important;
		line-height: 0.75em !important;
		vertical-align: -.0667em !important;
	}
	.fa-sm-xs { font-size: .75em !important; }
	.fa-sm-sm { font-size: .875em !important; }
	.fa-sm-1x { font-size: 1em !important; }
	.fa-sm-2x { font-size: 2em !important; }
	.fa-sm-3x { font-size: 3em !important; }
	.fa-sm-4x { font-size: 4em !important; }
	.fa-sm-5x { font-size: 5em !important; }
	.fa-sm-6x { font-size: 6em !important; }
	.fa-sm-7x { font-size: 7em !important; }
	.fa-sm-8x { font-size: 8em !important; }
	.fa-sm-9x { font-size: 9em !important; }
	.fa-sm-10x { font-size: 10em !important; }
}

/* medium */
@media (min-width: 768px) {
	.fa-md-lg {
		font-size: 1.33333em !important;
		line-height: 0.75em !important;
		vertical-align: -.0667em !important;
	}
	.fa-md-xs { font-size: .75em !important; }
	.fa-md-sm { font-size: .875em !important; }
	.fa-md-1x { font-size: 1em !important; }
	.fa-md-2x { font-size: 2em !important; }
	.fa-md-3x { font-size: 3em !important; }
	.fa-md-4x { font-size: 4em !important; }
	.fa-md-5x { font-size: 5em !important; }
	.fa-md-6x { font-size: 6em !important; }
	.fa-md-7x { font-size: 7em !important; }
	.fa-md-8x { font-size: 8em !important; }
	.fa-md-9x { font-size: 9em !important; }
	.fa-md-10x { font-size: 10em !important; }
}

/* large */
@media (min-width: 992px) {
	.fa-lg-lg {
		font-size: 1.33333em !important;
		line-height: 0.75em !important;
		vertical-align: -.0667em !important;
	}
	.fa-lg-xs { font-size: .75em !important; }
	.fa-lg-sm { font-size: .875em !important; }
	.fa-lg-1x { font-size: 1em !important; }
	.fa-lg-2x { font-size: 2em !important; }
	.fa-lg-3x { font-size: 3em !important; }
	.fa-lg-4x { font-size: 4em !important; }
	.fa-lg-5x { font-size: 5em !important; }
	.fa-lg-6x { font-size: 6em !important; }
	.fa-lg-7x { font-size: 7em !important; }
	.fa-lg-8x { font-size: 8em !important; }
	.fa-lg-9x { font-size: 9em !important; }
	.fa-lg-10x { font-size: 10em !important; }
}

/* extra large */
@media (min-width: 1200px) {
	.fa-xl-lg {
		font-size: 1.33333em !important;
		line-height: 0.75em !important;
		vertical-align: -.0667em !important;
	}
	.fa-xl-xs { font-size: .75em !important; }
	.fa-xl-sm { font-size: .875em !important; }
	.fa-xl-1x { font-size: 1em !important; }
	.fa-xl-2x { font-size: 2em !important; }
	.fa-xl-3x { font-size: 3em !important; }
	.fa-xl-4x { font-size: 4em !important; }
	.fa-xl-5x { font-size: 5em !important; }
	.fa-xl-6x { font-size: 6em !important; }
	.fa-xl-7x { font-size: 7em !important; }
	.fa-xl-8x { font-size: 8em !important; }
	.fa-xl-9x { font-size: 9em !important; }
	.fa-xl-10x { font-size: 10em !important; }
}
