#myCarousel1{
    mar: 0px;
}
.captionSlide1{
    position: fixed;
    left: 100px;
    top: 150px;
    width: 400px;
}
.captionSlide1 h2{
    padding-left: 30px;
}
.carousel-indicators li{
    color: #ff6633;
    background-color: #ff6633;
}
.changeButtonStyle{
    color: #fff;
    background-color: #ff6633;
    padding: 5px 35px;
    border-radius: 5px;
    font-size: large;
}
.changeButtonStyle:hover{
    color: #ff6633;
    background-color: #fff;
    border: 1px solid #ff6633;
    text-decoration: none;
}
.panelPriceBackground{
    position: absolute;
    top: 230px;
    padding: 10px 15px;
    width: 270px;
    background-color: #ff6633;
    font-weight: bolder;
    opacity: 0.5;
}
.panelPriceBackground:hover{
    opacity: 0.8;
}
.panelPriceText:hover{
    font-weight: bolder;
}
.panelPriceText{
    position: absolute;
    color: #fff;
    top: 240px;
    padding-left: 10px;
}
.slide1 .fa-caret-left, .slide1 .fa-caret-right{
    margin-top: 200px;
}
.left.carousel-control.slide2 .glyphicon-chevron-left, .right.carousel-control.slide2 .glyphicon-chevron-right{
    margin-top: -50px;
    font-size: 40px;
}
.left.carousel-control.slide2 .glyphicon-chevron-left{
    padding-left: 20px;
}
.right.carousel-control.slide2 .glyphicon-chevron-right{
    padding-right: 60px;
}